# Core ML & Data
numpy==1.26.4
pandas==2.3.0
scikit-learn==1.7.0
xgboost==2.0.3
joblib==1.4.2

# Visualization (if needed)
matplotlib==3.8.4
seaborn==0.13.2

# Deployment
gradio==4.27.0
streamlit==1.35.0

# Logging and utility
loguru==0.7.3
# Testingpython-dotenv==1.1.1
pandas==2.3.0
scikit-learn==1.7.0
pytest==8.4.1
